.brief{
  cursor: pointer;
    width: 100%;
    height: 200px;
    .brief-button{
        position: absolute;
        right: 25%;
        left: 25%;
        .brief-button-init{
            position: absolute;
            right: 25%;
            left: 25%;
            top:125px;
            cursor: pointer;
            h1{
                color: #09141f;
            }
        }
    }
}


.sidebar {
    position: fixed;
    top: 0;
    right: -300px; /* Initially hidden */
    width: 40%;
    height: 100%;
    background-color: #f4f4f4;
    transition: right 0.3s ease;
    overflow-y: auto;
    padding: 20px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none; /* Hide initially */
    
  }
  .contact-form-header{
    padding: 20px 0 0 0;
    margin: 30px 0 0 0;
    h3{
        color: #eaa708;
    }
  }
  
  .sidebar.open {
    right: 0; /* Revealed when open */
    display: block;
  }
  
  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 0;
    margin: 10px 0;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none; 
    color: #eaa708;
    font-size: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .close-btn:hover {
    background-color: #999;
  }
  .close-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
    .briefsection{
      min-height:230px;
    }
    .sidebar{
      width: 100%;
    }
    .brief{
      height: 0;
      .brief-container{
        padding: 20px 0;
        .brief-button{
          top: 0;
          left: 0;
          position:relative;
          .brief-button-init{
            top: 43%;
            h1{
              font-size: 6vw;
            }
          }
        }
      }
      
    }
  }
  @media only screen and (max-width: 1024px), only screen and (max-device-width: 1024px) {
    .briefsection{
      min-height: 340px;
    }
    .brief{
      height: 0;
      .brief-container{
        padding: 20px 30;
        .brief-button{
          top: 0;
          left: 0;
          position:relative;
          .brief-button-init{
            top: 43%;
            h1{
              font-size: 6vw;
            }
          }
        }
      }
      
    }
  }