.brief-button{
    position: absolute;
    right: 25%;
    left: 25%;
    .brief-button-init{
        position: absolute;
        right: 25%;
        left: 25%;
        top:60px;
        cursor: pointer;
        h1{
            color: #09141f;
        }
    }
}