@media (min-width: 1200px) and (max-width: 1500px){
    .movi-area {

        padding: 120px 30px;
    
      }
}

@media (min-width: 992px) and (max-width: 1199px){
    .movi-area {

        padding: 120px 30px;
      
      }
}

@media (min-width: 768px) and (max-width: 991px) {
    .movi-area {

        padding: 120px 30px;
    
      }
}

@media (max-width: 767px) {
    .movi-area {

        padding: 56px 15px;
      
      }
}