.team{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5%;
    margin:2rem 0;
    .container{
        position: relative;
        width: 45rem;
        height: 45rem;
        border: 2px solid #fff;
        border-radius: 50%;
        .icon{
            position: relative;
            left:-50%;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            .imgBx{
                position: absolute;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                overflow: hidden;
                transition: 0.5s;
                border: 1px solid #fff;
                box-shadow: 0 0 0 4px #222,
                0 0 0 6px #fff;
                transform: rotate(calc(360deg/9 * var(--i)));
                transform-origin:26rem ;
                z-index: 100;
                overflow: hidden;
                
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius:50% ;
                    object-fit: cover;
                    transform: rotate(calc(-360deg/9 * var(--i)));
                    transition: 0.5s;
                    filter: grayscale(1);
                }
            }
            .active{
                box-shadow: 0 0 0 5px #222,
                0 0 0 10px #eaa708;
                img{
                    filter: grayscale(0);
                }
            }
        }
        .content{
            position: absolute;
            inset: 0;
            overflow: hidden;
            display: flex;
                justify-content: center;
                align-items: center;
            .contentBx{
                position: absolute;
                transform: scale(0);
                transition: 0.5s;
                opacity: 0;
                margin-top: 20px;
                .card{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction:column;
                    gap:10px;
                    .imgBx{
                        position: relative;
                        width: 180px;
                        height:180px;
                        border-radius: 10px;
                        overflow: hidden;
                        padding-top: 15px;
                        margin-top: 15px;
                        img{
                            position: absolute;
                            top: 0;
                            left: 0;
                            // width: 100%;
                            // height: 100%;
                            object-fit: cover;
                        }
                    }
                    .textBx{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        h2{
                            position: relative;
                            font-size: 1em !important;
                            font-weight:350 !important;
                            line-height: 1.3em;
                            text-align: center;
                            
                        }
                        span{
                            font-size: 0.65em !important;
                            font-weight: 200 !important;
                            letter-spacing: 0.1em;
                        }
                        .sci{
                            position: relative;
                            display: flex;
                            gap:7px;
                            margin-top: 10px;
                            padding-right:25px;;
                            li{
                                list-style: none;
                                a{
                                    position: relative;
                                    width: 20px;
                                    height: 20px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    transition: 0.5s;
                                }
                            }
                        }
                    }

                }
                
            }
            .active{
                transform: scale(1);
                opacity: 1;
                transition-delay:0.5s ;
            }
        }
        .content::before{
            content:"";
            position: absolute;
            inset: 60px;
            border:4px solid transparent;
            border-left:4px solid #eaa708;
            border-right:4px solid #fff;
            border-radius: 50%;
            animation: animte_01 5s linear infinite;
            z-index: 1;
            pointer-events: none;
        }
        // .content::after{
        //     content:"";
        //     position: absolute;
        //     inset: 120px;
        //     border:4px solid transparent;
        //     border-left:4px solid #fff;
        //     border-right:4px solid #fff;
        //     border-radius: 50%;
        //     animation: animte_02 2.5s linear infinite;
        //     z-index: 1;
        //     pointer-events: none;
        // }
    }
}
@keyframes animte_01 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes animte_02 {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
